<?xml version="1.0" encoding="UTF-8"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="3.0" metadata-complete="false">
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>assets-resources</web-resource-name>
      <description>assets-resources</description>
      <url-pattern>/assets/*</url-pattern>
    </web-resource-collection>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>static-resources</web-resource-name>
      <description>static-resources</description>
      <url-pattern>/static/*</url-pattern>
    </web-resource-collection>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>spring-security-logout</web-resource-name>
      <description>spring-security-logout</description>
      <url-pattern>/logoff</url-pattern>
    </web-resource-collection>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>logout</web-resource-name>
      <description>logout</description>
      <url-pattern>/logout</url-pattern>
    </web-resource-collection>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>login</web-resource-name>
      <description>login</description>
      <url-pattern>/login</url-pattern>
    </web-resource-collection>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>actuator-resources</web-resource-name>
      <description>actuator-resources</description>
      <url-pattern>/actuator/*</url-pattern>
    </web-resource-collection>
  </security-constraint>
</web-app>
